/* Set up the background canvas */
body{ overflow-x: hidden; }
canvas{
    z-index: -1;
    position: fixed;
    left: 0px; top: 0px;
    width: 100vw; height: 100vh;
}

main{
    background-color: #020213df;
}

h2{ margin-top: 25px; }
h3{ margin-top: 15px; }

/* Animate the logo hovering */
@keyframes logo-hover{
    0%{ transform: translateY(0vh); }
    100%{ transform: translateY(-2vh); }
}
#site-logo{
    animation-name: logo-hover;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.goto-button{
    margin-top: 10px;
}

/* Only applies to mid to desktop devices */
@media only screen and (min-width: 415px)
{
    main{
        width: 60vw;
        margin-left: 20vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding: 1vw;
        border-radius: 2vw;
    }
    #site-logo{
        width: 40vw;
        margin-left: 10vw;
    }
}

/* Only applies to mobile devices */
@media only screen and (max-width: 414px)
{
    main{
        width: 90vw;
        margin-left: 5vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding: 1vw;
        border-radius: 2vw;
    }
    #site-logo{
        width: 70vw;
        margin-left: 10vw;
    }
}