*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: white;
}

body
{
    background-color: rgb(12, 12, 30);
}

.pane
{
    border-radius: 25px;
}

h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}