/*Load fonts*/
@font-face{
    font-family: LatinMordernMath;
    src: url("/fonts/latinmodern-math.otf") format("opentype");
}

/*Global defaults*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F4F2F3;

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    /*TODO this will need a polyfill*/
    scroll-behavior: smooth;
}

body{
    background-color: #230903;
}

/*Styling for input elements*/
