body{
    /* Keep all of the content in view at all times. */
    overflow: hidden;
}

.top{
    /* For items that need to appear in front of other items later in the dom. */
    z-index: 1;
}

.pull-out-menu{
    display: flex;
    height: 60px;
}

.tab{
    width: 60px;
    height: 60px;
    display: flex;
    background-color: grey;
    padding: 5px;
}
.tab:hover{
    background-color: rgb(197, 175, 175);
    cursor: pointer;
}
.tab *{
    width: 50px;
    height: 50px;
}
#settings-content{
    background-color: rgb(75, 48, 48);
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#settings-content *{
    white-space: nowrap;
}

.field{
    display: flex;
    align-items: center;
    justify-items: center;
}
.field *{
    height: 30px;
}

#output-blackboard{
    background-color: black;
}

#timeline-controls{
    display: flex;
    justify-content: center;
}

#title-ribbon{
    height: 60px;
    display: flex;
    flex-direction: row;
}
#title-ribbon h2{
    background-image: url("/images/decorations/ribbon-middle.svg");
    background-size: contain;
    line-height: 60px;
    width: calc(100% - 60px);
}
#title-ribbon img{
    height: 60px;
}

.timeline-button{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: solid grey 3px;
    background-color: white;
}
.timeline-button:hover{
    cursor: pointer;
    background-color: grey;
}
.timeline-button img{
    width: 50px;
    height: 50px;
}

/* Only applies to mid to desktop devices. */
@media only screen and (min-width: 415px)
{
    /* Define the grid for panes to be placed in. */
    main{
        /* Consume the entire page. */
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;

        display: grid;
        grid-template-rows: min-content auto auto min-content 5vw;
        grid-template-columns: min-content min-content auto;
        column-gap: 5px;
        row-gap: 5px;
    }
    #input-fields{
        width: min-content;
        background-color: darkred;
        grid-column: 2 / 3;
        grid-row: 2 / 6;
    }
    #output-graph{
        background-color: green;
        grid-column: 3 / 4;
        grid-row: 2 / 4;
        width: 100%;
        height: 500px;
        min-height: 30vh;
        max-height: 50vh;
    }
    #output-graph canvas{
        width: 100%;
        height: 100%;
    }
    #output-blackboard{
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }
    #title-ribbon{
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    #timeline-controls{
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
    .tabbed-content{
        grid-column: 1 / 2;
        grid-row: 1 / 6;
    }
    .tab
    {
        border-radius: 0px 15px 15px 0px;
    }
    .pull-out-menu{
        flex-direction: row;
    }
    .hidden{
        width: 0px;
    }
}

/* Only applies to mobile devices. */
@media only screen and (max-width: 414px)
{
    /* Define the grid for panes to be placed in. */
    main{
        /* Consume the entire page. */
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;

        display: grid;
        /* Final auto is used to conceal bottom tabs off the page. */
        grid-template-rows: 10vh 35vh 35vh 10vh 10vh auto;
        grid-template-columns: auto;
        column-gap: 5px;
        row-gap: 5px;
    }
    #title-ribbon{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #input-fields{
        width: min-content;
        background-color: darkred;
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    #output-graph{
        background-color: green;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100%;
        height: 100%;
    }
    #output-graph canvas{
        width: 100%;
        height: 100%;
    }
    #output-blackboard{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    #timeline-controls{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .tabbed-content{
        grid-column: 1 / 2;
        grid-row: 5 / 6;

        display: flex;
        flex-direction: row;
    }
    .tab
    {
        border-radius: 15px 15px 0px 0px;
    }
    .pull-out-menu{
        flex-direction: column;
        width: 60px;
        height: auto;
    }
    .top{
        height: 300px;
        width: 60px;
    }
    .hidden{
        height: 60px;
    }
}